/** @format */
:root {
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
  --primary-color: #171e28;
  --secondary-color: #222a35;
  --icon-color: #000000;
  --highlight-color: #d8c622;
  --main-text-color: #f6f9f5;
  --sub-text-color: #6e757d;
  --heading-size: 2.5rem;
  --text-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

#myVideo {
  position: fixed;
  right: 0;
  top: -50rem;
  min-width: 100%;
  min-height: 100%;
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  color: var(--main-text-color);
  padding-top: 50px;
  font-family: var(--primary-font);
  font-size: var(--text-size);
}
.main::after {
  content: '';
  background: url('./assets/Bg.jpg');
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.container {
  margin: 0 auto;
  width: 62%;
  background-color: var(--primary-color);
  box-shadow: 0 -0.1px 5px 5px rgb(122, 122, 122);
  border-radius: 15px;
  opacity: 0.95;
}

.container__input {
  margin: 0 auto;
  padding: 20px 10px;
  width: 100%;
  color: var(--main-text-color);
  background-color: var(--primary-color);
  box-shadow: 0 -0.1px 5px 5px rgb(122, 122, 122);
  border-radius: 15px;
  opacity: 0.95;
  font-size: 2rem;
}

.container__controls {
  margin-top: 2rem;
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2rem;
}

.heart__controls {
  margin: 10px 10px;
  margin-right: 2rem;
  cursor: pointer;
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.2);
}

.container__Label {
  margin-right: 3rem;
  cursor: pointer;
}

.container__out {
  position: relative;
  padding: 15px 10px;
  height: calc(100vh - 15rem - 60px);
  color: var(--main-text-color);
  font-size: 2rem;
  padding: 10px 10px;
  word-wrap: break-word;
  z-index: 1;
}

.container__out-hidden {
  display: none;
  height: 50vh;
  color: var(--primary-color);
  font-size: 2rem;
  padding: 10px 10px;
  word-wrap: break-word;
}

.output_container {
  position: relative;
  z-index: 2;
  height: 22.5rem;
}

.newClass {
  color: red;
}

.sumUSD {
  color: var(--main-text-color);
}
.hidden {
  display: none;
}

.api_container {
  position: fixed;
  top: 1rem;
  right: 2rem;
}



@media screen and (max-width: 964px) {
  #myVideo {
    position: fixed;
    right: 0;
    top: -30rem;
  }
  .container {
    width: 70%;
  }
}
@media screen and (max-width: 660px) {
  #myVideo {
    position: fixed;
    right: 0;
    top: -26rem;
  }

  .container {
    width: 90%;
  }
}
@media screen and (max-width: 508px) {
  html {
    overflow: hidden;
  }
  .main {
    padding-top: 2rem;
  }
  .container__controls {
    margin-top: 1rem;
    padding: 5px 5px;
    margin-bottom: 1rem;
  }
  .container {
    width: 95%;
  }
  .container__out {
    font-size: 1.6rem;
  }
  .output_container {
    height: 22.5rem;
  }
  .container__Label {
    margin-right: 2rem;
    /* font-size: 0.7rem; */
  }
  .api_container {
    top: 0.3rem;
  }
}
@media screen and (max-width: 471px) {
  #myVideo {
    position: fixed;
    right: 0;
    top: -26rem;
  }
  .container__controls {
    justify-content: space-between;
  }
  .container__Label {
    margin-right: 1rem;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 399px) {

  #myVideo {
    position: fixed;
    right: -12rem;
    top: -16rem;
  }
  .main {
    padding-top: 2rem;
  }
  .container {
    opacity: 0.89;
  }
  .container__controls {
    margin-top: 0.8rem;
    padding: 5px 5px;
    margin-bottom: 0.5rem;
  }
  .container {
    width: 97%;
  }
  .container__out {
    font-size: 1.3rem;
  }
  .output_container {
    height: 22.5rem;
  }
  .container__controls {
    justify-content: start;
  }
  .container__Label {
    font-size: 0.7rem;
  }
  .api_container {
    top: 0.3rem;
  }
}
